/*
  Aakav Kindergarten Typography
==========================*/
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&amp;display=swap");
body {
  font-family: "Lato", sans-serif;
}
a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-bottom: 10px;
}
h1,
h3,
h2 {
  font-family: "Fredoka One", cursive;
}
.bg-removed {
  background-color: transparent !important;
}
.d-table {
  width: 100%;
  height: 100%;
}
.d-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-50 {
  padding-bottom: 50px;
}
img {
  max-width: 100%;
}
.mr-30 {
  margin-right: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-0 {
  margin-right: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.px-18 {
  font-size: 18px;
}
.header-top-wrapper .head-top-list li a:hover {
  color: #ffff;
}
:focus {
  outline: 0;
}
button:focus {
  outline: 0;
  box-shadow: 0 !important;
  border: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol {
  margin-bottom: 0;
  list-style-type: none;
}
.btn:focus {
  /* transform: scale(0.9);
  transition: all 0.3s ease-in-out; */
  box-shadow: none;
  border: 0;
  outline: 0;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(240, 34, 188, 1) 0%,
    rgba(0, 71, 143, 1) 100%
  );
  padding: 10px 32px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.btn:hover {
  background: #00478f;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0;
  padding: 0;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.mean-container a.meanmenu-reveal span {
  height: 4px;
  margin-top: -6px;
  position: relative;
  top: 8px;
}
#toTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  display: none;
  z-index: 9;
}
#toTop i {
  background: #00478f;
  color: #fff;
  height: 45px;
  width: 45px;
  text-align: center;
  font-size: 24px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
#toTop i:hover {
  background: linear-gradient(
    90deg,
    rgba(240, 34, 188, 1) 0%,
    rgba(0, 71, 143, 1) 100%
  );
  color: #fff;
}

.section-title {
  margin-bottom: 70px;
}
.section-title h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5d2e8c;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.section-title h2 {
  color: #393d72;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
 Loader Section Style
============================*/
.loader {
  position: fixed;
  z-index: 999999999;
  background-color: #393d72;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.spnr {
  width: 5em;
  height: 5em;
  position: relative;
  margin: auto;
}
.spnr:before,
.spnr:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  animation: spnr-bounce 2s infinite ease-in-out;
}
.spnr:before {
  background-color: #ffffff;
}
.spnr:after {
  animation-delay: -1s;
  background-color: #ffffff;
}
@keyframes spnr-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/*
 Header Style
==========================*/
.header-top-wrapper {
  background: #00478f;
}
.header-top-wrapper .head-top-list li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 9px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header-top-wrapper .head-top-list li:first-child {
  padding-left: 0;
}
.header-top-wrapper .head-top-list li {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.header-top-wrapper .head-top-list li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.header-top-wrapper .head-top-list li a:hover {
  color: #ff7479;
}
.header-top-wrapper .head-top-list li:hover {
  color: #ff7479;
}
.header-top-wrapper .head-top-list li a > i {
  margin-right: 5px;
  color: #ff7479;
}
.header-top-wrapper .head-top-list li i {
  margin-right: 5px;
  color: #ff7479;
  font-size: 14px;
}
.header-top-wrapper .social-link {
  text-align: right;
}

.header-top-wrapper .social-link ul li {
  display: inline-block;
  margin-right: 5px;
}
.header-top-wrapper .social-link ul li:first-child {
  padding: 8px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.header-top-wrapper .social-link ul li:first-child a > i {
  color: #ff7479;
}
.header-top-wrapper .social-link ul li a {
  color: #fff;
}

.header-top-wrapper .social-link ul li a > i {
  color: #ffffff;
  margin-right: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header-top-wrapper .social-link ul li a:hover,
.header-top-wrapper .social-link ul li a > i:hover {
  color: #ff7479;
}
.header-top-wrapper .social-link ul li a > i::before {
  font-size: 14px;
}
.modal.zoom .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-open .modal {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.modal-dialog {
  max-width: unset;
  margin: auto;
}
.modal-content {
  padding: 40px;
  width: 800px;
}
.modal-form-left img {
  width: 100%;
  height: 100%;
}
.modal-header {
  display: unset;
  border: none;
  padding: unset;
}
.modal-header h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
}
.modal-header button.close {
  position: absolute;
  top: -15px;
  right: 12px;
  font-size: 40px;
  padding: 0;
}
.modal-header h4 {
  color: #393d72;
}
.modal-header label {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #393d72;
}
.modal-header .password-label {
  margin-top: 20px;
}
.form-control:focus {
  border-color: 1px solid red;
  outline: 0;
  box-shadow: none;
  border-color: 0;
}
.modal-header .password {
  margin-bottom: 20px;
}
.modal-header .forgot-password a {
  text-transform: capitalize;
  color: #32004b;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.modal-header .forgot-password a::before {
  content: "";
  position: absolute;
  background-color: #7a7a7a;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.modal-header .forgot-password a:hover::before {
  width: 0;
}
.modal-header .forgot-password .f-pass {
  margin-right: 72px;
}
.modal-header .login-btn {
  margin-top: 20px;
  background: #393d72;
  color: #ffff;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.modal-header .login-btn {
  box-shadow: unset;
}
.modal-header .login-btn:hover {
  background: #5d2e8c;
}
.modal-header .login-btn:focus {
  border: 1px solid transparent;
}
.modal-header .social-link {
  margin-top: 20px;
}
.modal-header .social-link ul {
  text-align: center;
}
.modal-header .social-link ul li {
  display: inline-block;
  margin-right: 10px;
}
.modal-header .social-link ul li a {
  width: 40px;
  height: 40px;
  color: #ffff;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
}
.modal-header .social-link ul li i::before {
  font-size: 18px;
}

/*
 Navbar Style
==========================*/
.menu-shrink {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #ffff;
  box-shadow: -9px -10px 23px #9a9a9a;
}
.navbar-light .logo a.navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar-light .logo a.navbar-brand img {
  width: 100%;
  padding: 0;
}
.navbar {
  padding: 0;
}
.navbar {
  position: relative;
}

.navbar-light .logo a.navbar-brand img {
  width: 130px;
}

/*
aakav kindergarten hero section Slider Style
=============================*/
.child-care-section {
  position: relative;
}
.child-care-slider {
  background: #eff9ff;
}
.child-care-slider-wrap {
  height: 700px;
}
.child-care-section .aakavCloud {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}

.slider-img {
  position: relative;
  z-index: 1;
  -webkit-animation: mover 1000ms infinite alternate;
  animation: mover 1000ms infinite alternate;
}
.slider-img .img-shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(-25deg);
  opacity: 0.3;
  -webkit-animation: mover 800ms infinite alternate;
  animation: mover 800ms infinite alternate;
}
.slider-shape .img-shape2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: auto;
  z-index: -1;
  transform: rotate(-25deg);
  opacity: 0.3;
  -webkit-animation: mover 800ms infinite alternate;
  animation: mover 800ms infinite alternate;
}
.single-slider .slider-text h3 {
  color: #393d72;
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-shadow: 3px 0px 3px #ececec;
  line-height: 60px;
}
.single-slider .slider-text p {
  color: #393d72;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 35px;
}
.single-slider .slider-text .btn {
  background: #a6c5d4;
  padding: 10px 32px;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.slider-all-shape .shape1 img {
  position: absolute;
  top: 10%;
  width: 3%;
  left: 10%;
  z-index: 1;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.slider-all-shape .shape2 img {
  position: absolute;
  top: 18%;
  width: 3%;
  left: 42%;
  z-index: 1;
  animation-iteration-count: infinite;
}
.slider-all-shape .shape3 img {
  position: absolute;
  top: 80%;
  width: 3%;
  left: 7%;
  z-index: 1;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.slider-all-shape .shape4 img {
  position: absolute;
  top: 12%;
  width: 3%;
  right: 5%;
  z-index: 1;
  animation-iteration-count: infinite;
}
.child-care-slider.owl-theme .owl-dots {
  display: none;
}
.child-care-slider.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  font-size: 60px;
}
.child-care-slider.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  font-size: 60px;
}
.child-care-slider.owl-carousel .owl-nav button.owl-next span {
  background: #5b5b5a;
}
.child-care-slider.owl-theme .owl-nav [class*="owl-"]:hover {
  background: unset;
}
.child-care-slider.owl-carousel .owl-nav button.owl-prev span {
  background: #eff9ff;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #00478f;
  border-radius: 50%;
  font-size: 28px;
  line-height: 35px;
  box-shadow: 1px 2px 7px -1px #868686;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.child-care-slider.owl-carousel .owl-nav button.owl-next span {
  background: #eff9ff;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #00478f;
  border-radius: 50%;
  font-size: 28px;
  line-height: 35px;
  box-shadow: 1px 2px 7px -1px #868686;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.child-care-slider.owl-carousel .owl-nav button.owl-next span:hover {
  color: #fff;
  background: #00478f;
}
.child-care-slider.owl-carousel .owl-nav button.owl-prev span:hover {
  color: #fff;
  background: #00478f;
}

.child-care-slider-wrap .img-video-shape {
  position: relative;
}
.slider-video-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.slider-video-icon a {
  background: #393d72;
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  color: #ffff;
  border-radius: 50%;
}
.slider-video-icon i {
  display: inline-block;
  margin-left: 5px;
}
.slider-video-icon a:hover {
  background: white;
  color: #393d72;
}
.play-video-icon {
  text-align: center;
}
.play-video-icon a {
  background-color: #393d72;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  height: 80px;
  line-height: 80px;
  padding: 0 0 0 8px;
  text-align: center;
  width: 80px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: relative;
}
.play-video-icon a i {
  border-radius: 50%;
  height: 70px;
  left: 0;
  line-height: 66px;
  margin: auto;
  padding: 0 0 0 3px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 70px;
  z-index: 1;
  color: #ffffff;
}
.play-video-icon a i::before {
  margin-left: 3px;
  font-size: 30px;
}
.sonar-wrapper {
  position: relative;
  z-index: 1;
}
.sonar-wrapper .sonar-emitter {
  position: relative;
  margin: 5px auto;
  width: 70px;
  height: 70px;
  border-radius: 9999px;
}
.sonar-wrapper .sonar-emitter .sonar-wave {
  position: absolute;
  top: 0;
  left: -4px;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #393d72;
  opacity: 0;
  z-index: -9;
  pointer-events: none;
}
.sonar-wrapper .sonar-emitter .sonar-wave {
  -webkit-animation: sonarWave 2s linear infinite;
  animation: sonarWave 2s linear infinite;
}
@-webkit-keyframes sonarWave {
  from {
    opacity: 0.5;
  }
  to {
    transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0;
  }
}

.experience-video {
  background-color: red;
}

/*
 Features Section Style
=============================*/
.features-section .single-feature {
  background: #ffff;
  padding: 40px 20px;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 30px;
  box-shadow: 0px 3px 14px #ebebeb;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature:hover .image {
  transform: scale(1.15) rotateZ(20deg);
}
.features-section {
  position: relative;
  z-index: 1;
}
.features-section .single-feature p {
  margin: 0;
}
.features-section .single-feature1::before {
  content: "";
  position: absolute;
  border-left: 2px solid #f06b9a;
  border-top: 2px solid #f06b9a;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature1::after {
  content: "";
  position: absolute;
  border-right: 2px solid #f06b9a;
  border-bottom: 2px solid #f06b9a;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature1:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #f06b9a;
  border-top: 2px solid #f06b9a;
}
.features-section .single-feature1:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #f06b9a;
  border-bottom: 2px solid #f06b9a;
}
.features-section .single-feature2::before {
  content: "";
  position: absolute;
  border-left: 2px solid #8fa63c;
  border-top: 2px solid #8fa63c;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature2::after {
  content: "";
  position: absolute;
  border-right: 2px solid #8fa63c;
  border-bottom: 2px solid #8fa63c;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature2:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #8fa63c;
  border-top: 2px solid #8fa63c;
}
.features-section .single-feature2:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #8fa63c;
  border-bottom: 2px solid#8FA63C;
}
.features-section .single-feature3::before {
  content: "";
  position: absolute;
  border-left: 2px solid #29a9e1;
  border-top: 2px solid #29a9e1;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature3::after {
  content: "";
  position: absolute;
  border-right: 2px solid #29a9e1;
  border-bottom: 2px solid #29a9e1;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature3:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #29a9e1;
  border-top: 2px solid #29a9e1;
}
.features-section .single-feature3:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #29a9e1;
  border-bottom: 2px solid#29A9E1;
}
.features-section .single-feature4::before {
  content: "";
  position: absolute;
  border-left: 2px solid #d9753b;
  border-top: 2px solid #d9753b;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature4::after {
  content: "";
  position: absolute;
  border-right: 2px solid #d9753b;
  border-bottom: 2px solid #d9753b;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.features-section .single-feature4:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #d9753b;
  border-top: 2px solid #d9753b;
}
.features-section .single-feature4:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #d9753b;
  border-bottom: 2px solid#D9753B;
}
.features-section .single-feature h3 {
  font-size: 20px;
  font-weight: 400;
  color: #393d72;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 10px;
}

.features-section .single-feature .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-section .single-feature .image .icon {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 10px;
}

/*
 About Section Style
=============================*/
.about-section {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 59.09%,
    rgba(211, 227, 233, 0.5) 100%
  );
}
.about-section .col-lg-6 {
  position: relative;
}
.about-section .custom-button {
  margin-top: 50px;
}
.about-section .single-about {
  max-width: 530px;
}
.about-section .single-about .section-title {
  margin-bottom: 20px;
}
.about-section .single-about .section-title h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5d2e8c;
  text-transform: capitalize;
}
.about-section .single-about .section-title h2 {
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 400;
}
.about-section .single-about .section-title img {
  margin-bottom: 30px;
}
.about-section .single-about .section-title p {
  font-weight: 400;
  color: #808080;
  margin-bottom: 0;
}
.about-section .single-about .about-list {
  margin: 25px 0;
}
.about-section .single-about .about-list ul li p {
  margin-bottom: 15px;
  font-weight: 400;
  color: #808080;
  padding-left: 28px;
}
.about-section .single-about .about-list ul li:last-child p {
  margin-bottom: 0;
}
.about-section .single-about .about-list ul li {
  color: #393d72;
  font-size: 18px;
  font-weight: 700;
}
.about-section .single-about .about-list ul li i {
  margin-right: 10px;
  color: #393d72;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.about-section .single-about .about-list ul li:hover i {
  color: #f022bc;
}
.about-section .single-about .about-list ul li i::before {
  font-size: 16px;
}

.about-section .image {
  max-width: 500px;
  margin: auto;
  max-height: 450px;
}
.about-section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-about-bg {
  text-align: center;
}
.single-about-bg .image {
  position: relative;
}
.single-about-bg .image img {
  text-align: center;
  opacity: 1;
  position: relative;
}
.single-about-bg .image .benefits-cart {
  position: absolute;
  top: 450px;
  bottom: 0;
  right: 340px;
  left: 0;
  margin: auto;
  background: #fedd9d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: mover 1000ms infinite alternate;
  animation: mover 1000ms infinite alternate;
}
.single-about-bg::before {
  content: "";
  position: absolute;
  background-image: url(../img/about/bg-shapes-1.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.2;
  -webkit-animation: mover 800ms infinite alternate;
  animation: mover 800ms infinite alternate;
}
.single-about-bg2::before {
  content: "";
  position: absolute;
  background-image: url(../img/about/bg-shapes-2.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.single-about-bg .about-img-cartwrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.single-about-bg .image .benefits-cart h4 {
  color: #ffff;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.single-about-bg .image .benefits-cart p {
  color: #a3813b;
  font-size: 18px;
  margin-bottom: 0;
}
.single-about-bg2 .image-shape2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
}
.single-about-bg2 .image {
  position: absolute;
  right: 38%;
  bottom: 0;
  margin: auto;
  display: table;
}
.single-about-bg2 .image img {
  border-radius: 10px;
}
.about-section .shape1 {
  position: absolute;
  top: 18%;
  left: 52%;
  width: 3%;
}
.about-section .shape1 img {
  animation: rotation 5s infinite linear;
}
.about-section .shape2 {
  position: absolute;
  top: 35%;
  left: 2%;
  width: 5%;
}
.about-section .shape2 img {
  animation: rotation 8s infinite linear;
}
.about-section .shape3 {
  position: absolute;
  top: 75%;
  left: 3%;
  width: 5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.about-section .shape4 {
  position: absolute;
  top: 5%;
  left: 90%;
  width: 5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

/*
 Work Section Style
=============================*/
.work-section {
  position: relative;
  border-top: 1px solid #eeeeee;
}
.work-section .custom-button {
  margin-top: 30px;
}
.work-section .single-work {
  text-align: center;
  margin-bottom: 30px;
}
.work-section .single-work .image {
  position: relative;
}
.work-section .single-work .image::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.work-section .single-work .ico-bg1 {
  background-color: #32004b;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}
.work-section .single-work .ico-bg2 {
  background-color: #008c99;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}
.work-section .single-work .ico-bg3 {
  background-color: #ff6f9f;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}
.work-section .single-work .text {
  margin-top: 30px;
}
.work-section .single-work h3 {
  font-size: 20px;
  font-weight: 400;
  color: #393d72;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.work-section .single-work p {
  font-weight: 600;
  color: #7e7e7e;
  max-width: 250px;
  margin: auto;
}
.work-section .shape1 {
  position: absolute;
  top: 16%;
  left: 6%;
  width: 5%;
}
.work-section .shape1 img {
  animation: rotation 3s infinite linear;
}
.work-section .shape2 {
  position: absolute;
  top: 40%;
  right: 2%;
  width: 2%;
  animation: rotation 5s infinite linear;
}
.work-section .shape3 {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.work-section .shape4 {
  position: absolute;
  bottom: 12%;
  right: 5%;
  width: 5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.work-section .shape5 {
  display: none;
}
.work-section .bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  opacity: 0.1;
  z-index: -1;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

/*
 Testimonial Section Style
===============================*/
.testimonial-section {
  background-color: #eeeeee;
  position: relative;
}
.testi-slider.owl-theme .owl-dots .owl-dot span {
  width: 25px;
  background: #707398;
}
.testi-slider.owl-theme .owl-dots .owl-dot.active span {
  background: #fe6367;
}
.single-testimonial .test-text-img {
  position: relative;
  display: inline-block;
  margin: auto;
  display: table;
}
.single-testimonial .test-text-img p {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 400;
  font-style: italic;
  max-width: 225px;
  margin: auto;
  color: #ffff;
  line-height: 28px;
}
.single-testimonial .test-text-img p i {
  margin-right: 10px;
  margin-left: 2px;
}
.single-testimonial .test-profile {
  text-align: center;
}
.single-testimonial .test-profile img {
  margin-top: 30px;
}
.single-testimonial .test-profile p {
  color: #393d72;
  margin-bottom: 0;
  padding-top: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
.testimonial-section .owl-carousel .owl-item img {
  width: unset;
  display: unset;
}
.testimonial-section .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 45px;
}
.testimonial-section .test-baby-image {
  padding-top: 80px;
  overflow: hidden;
}
.testimonial-section .test-baby-image ul li {
  float: left;
  width: 16.666667%;
  text-align: center;
}
.testimonial-section .test-baby-image ul li:last-child img {
  margin-right: 0;
}
.testi-all-shape .shape1 {
  position: absolute;
  top: 4%;
  left: 10%;
  width: 1%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.testi-all-shape .shape2 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1%;
  -webkit-animation: mover 0.9s infinite alternate;
  animation: mover 0.9s infinite alternate;
}
.testi-all-shape .shape3 {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 1%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.testi-all-shape .shape4 {
  position: absolute;
  top: 66%;
  left: 15%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.testi-all-shape .shape5 {
  position: absolute;
  top: 55%;
  left: 2%;
  width: 2%;
  -webkit-animation: mover 0.9s infinite alternate;
  animation: mover 0.9s infinite alternate;
}
.testi-all-shape .shape6 {
  position: absolute;
  top: 68%;
  left: 4%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.testi-all-shape .shape7 {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.testi-all-shape .shape8 {
  position: absolute;
  top: 10%;
  right: 16%;
  width: 2%;
  -webkit-animation: mover 0.9s infinite alternate;
  animation: mover 0.9s infinite alternate;
}
.testi-all-shape .shape9 {
  position: absolute;
  top: 10%;
  right: 4%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.testi-all-shape .shape10 {
  position: absolute;
  top: 30%;
  right: 3%;
  width: 3%;
  -webkit-animation: mover 0.7s infinite alternate;
  animation: mover 0.7s infinite alternate;
}
.testi-all-shape .shape11 {
  position: absolute;
  top: 60%;
  right: 5%;
  width: 3%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}

/*
 Footer Section Style
===============================*/
.footer-top {
  padding: 50px 0 0;
  background: linear-gradient(
    180deg,
    rgba(194, 229, 242, 0.5) 0%,
    #eff9ff 100%
  );
  position: relative;
  z-index: 1;
}
.footer-top::before {
  content: "";
  position: absolute;
  background-image: url(../img/footer/aakavBgImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: 0;
  opacity: 0.1;
}
.footer-top .imageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  column-gap: 50px;
}
@media screen and (max-width: 991px) {
  .footer-top .imageWrapper {
    display: none;
  }
}

.footer-top .foot-about img {
  width: 150px;
  height: auto;
}
.footer-top .foot-about p {
  font-weight: 400;
  color: rgba(0, 33, 71, 0.7);
  margin-bottom: 20px;
}
.footer-top .foot-about ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-top .foot-about ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: #e1f3fa;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  position: relative;
}
.footer-top .foot-about ul li .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #5d2e8c;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
}
.footer-top .foot-about ul li .tooltip-bottom {
  top: 135%;
  left: 50%;
  margin-left: -60px;
}
.footer-top .foot-about ul li .tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #5d2e8c transparent;
}
.footer-top .foot-about ul li i {
  color: #393d72;
}
.footer-top .foot-about ul li:hover {
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.footer-top .foot-about ul li:hover i {
  color: #5d2e8c;
}
.footer-top .foot-about ul li:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.footer-top .classes-foot h4,
.footer-top .newsletter h4 {
  font-size: 18px;
  font-weight: 600;
  color: #393d72;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.footer-top .classes-foot ul li {
  margin-bottom: 5px;
  transition: 0.3s ease-in-out;
}
.footer-top .classes-foot ul li:hover {
  transform: translateX(7px);
}
.footer-top .classes-foot ul li:last-child {
  margin-bottom: 0px;
}
.footer-top .classes-foot ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #393d72;
  text-transform: capitalize;
}
.footer-top .classes-foot ul li i {
  font-size: 12px;
  margin-right: 5px;
  color: #393d72;
}
.footer-top .classes-foot ul li:hover i {
  color: #5d2e8c;
}
.footer-top .classes-foot ul li a:hover {
  color: #5d2e8c;
}
.footer-top .newsletter .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.footer-top .newsletter .input-group .form-control {
  background: #fff;
  box-shadow: inset 1px 0px 4px rgba(0, 0, 0, 0.25),
    inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px !important;
  padding: 8px 25px;
  position: relative;
  flex: 1 1 auto;
}
.footer-top .newsletter .input-group .form-control:focus {
  border-color: transparent !important;
}
.footer-top .newsletter .input-group .submit-btn {
  background: #e1f3fa;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50% !important;
  height: 35px;
  width: 35px;
  border: 0;
  position: absolute;
  right: 2%;
  top: 9%;
  z-index: 3;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.footer-top .newsletter .input-group .submit-btn:hover {
  background: linear-gradient(to right, #00478f, #f022bc);
}
.footer-top .newsletter .input-group .submit-btn:hover i {
  color: #fff;
}
.footer-top .newsletter .input-group .submit-btn:focus {
  box-shadow: none;
}
.footer-top .newsletter .input-group .submit-btn i {
  color: #393d72;
}

.footer-bottom {
  padding: 10px 0;
  background: linear-gradient(to right, #00478f, #f022bc);
}
@media screen and (min-width: 991px) {
  .footer-bottom .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-bottom p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
}
.footer-bottom p a {
  color: #fff;
  font-weight: 600;
}
.footer-bottom p a:hover {
  color: #44ce6f;
}
.footer-top .newsletter .contactInfo {
  padding-top: 15px;
}
.footer-top .newsletter .contactInfo .infoItem {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #393d72;
  margin-bottom: 10px;
}
.footer-top .newsletter .contactInfo .infoItem span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1f3fa;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px !important;
  width: 32px;
  height: 32px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.footer-top .newsletter .contactInfo .infoItem:hover span {
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.footer-top .newsletter .contactInfo .infoItem:hover i {
  color: #5d2e8c;
}
.footer-top .newsletter .social-icon ul li {
  padding-bottom: 10px;
}
.footer-top .newsletter .social-icon ul li span {
  background: #e1f3fa;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.footer-top .newsletter .social-icon ul li span i {
  font-size: 18px;
}

/*
 Program Section Style Start
=================================*/
.program-section {
  position: relative;
}
.program-section .owl-item {
  padding: 5px;
}
.program-section .single-program {
  margin-bottom: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 59.09%,
    rgba(211, 227, 233, 0.5) 100%
  );
  border-radius: 12px;
}
.program-section .single-program:hover {
  box-shadow: 0px 5.80249px 9.94712px rgba(41, 107, 194, 0.25);
}
.program-section .single-program .image {
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.program-section .single-program img {
  transition: 0.9s;
  -webkit-transition: 0.9s;
}
.program-section .single-program:hover img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
}
.program-section .single-program .image-caption {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}
.program-section .single-program .image-caption .pr-content {
  border-bottom: 2px solid #f5f3f4;
  padding: 30px 30px;
}
.program-section .single-program .image-caption .pr-content h3 {
  font-size: 18px;
  font-weight: 400;
  color: #393d72;
  text-transform: capitalize;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 15px;
}
.program-section .single-program:hover .image-caption .pr-content h3 {
  color: #00478f;
}
.program-section .single-program .image-caption .pr-content p {
  margin-bottom: 0;
}
.program-section .single-program .image-caption .pr-bottom {
  padding: 20px 30px;
  text-align: left;
}
.program-section .single-program .image-caption .pr-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program-section .single-program .image-caption .pr-bottom ul li {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  color: #393d72;
  display: inline-block;
  text-transform: capitalize;
  margin-left: 10px;
}
.program-section .single-program .image-caption .pr-bottom ul li:first-child {
  margin-left: 0;
}
.program-section .single-program .image-caption .pr-bottom ul li > span {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
}
.program-section .single-program .image-caption .pr-bottom ul li .age {
  color: #d9753b;
}
.program-section .single-program .image-caption .pr-bottom ul li .time {
  color: #29a7d9;
}
.program-section .single-program .image-caption .pr-bottom ul li .class {
  color: #8fa63c;
}
.program-section .custom-btn {
  margin-top: 30px;
}
.program-slider.owl-carousel .owl-dots.disabled,
.program-slider.owl-carousel .owl-nav.disabled {
  display: block;
}
.program-slider.owl-carousel .owl-nav button.owl-next i,
.program-slider.owl-carousel .owl-nav button.owl-prev i {
  font-size: 24px;
  background: #eff9ff;
  box-shadow: 1px 2px 7px -1px #868686;
  color: #00478f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 36px;
  font-weight: 400;
}
.program-slider.owl-carousel .owl-nav button.owl-next:hover,
.program-slider.owl-carousel .owl-nav button.owl-prev:hover {
  background: none;
  color: #00478f !important;
}
.program-slider.owl-carousel .owl-nav button.owl-next,
.program-slider.owl-carousel .owl-nav button.owl-prev {
  display: inline-block !important;
}
.program-slider.owl-carousel .owl-nav button.owl-next:hover i,
.program-slider.owl-carousel .owl-nav button.owl-prev:hover i {
  color: #fff;
  background: #00478f;
}
.program-slider.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
}
.program-slider.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
}

/*
 End Program Section Style
================================*/

/*
News & Event  Section Style Start
======================================*/
.aakavNews {
  position: relative;
  text-align: center;
  background: #f6f6f6;
}
.aakavNews .bg-shape {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.aakavNews .eventCard {
  background: #ffffff;
  width: 420px;
  margin: 0 15px;
  display: inline-block;
  margin-bottom: 30px !important;
  padding: 35px;
  text-align: left;
  border-radius: 50px 5px 50px 5px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}
.aakavNews .eventCard .time {
  margin-bottom: 10px;
}
.aakavNews .eventCard .time i {
  color: #8fa63c;
  font-weight: 600;
}
.aakavNews .eventCard .time i::before {
  font-size: 15px;
}
.aakavNews .eventCard .time span {
  color: #8fa63c;
  font-weight: 700;
  font-size: 15px;
}
.aakavNews .eventCard h6 {
  color: #393d72;
  font-weight: 700;
  font-size: 18px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 10px;
}
.aakavNews .eventCard:hover h6 {
  color: #00478f;
}
.aakavNews .eventCard .read-more-btn {
  font-size: 15px;
  font-weight: 700;
  color: #393d72;
  text-transform: capitalize;
}
.aakavNews .eventCard .read-more-btn > i {
  font-size: 15px;
  font-weight: 600;
  color: #393d72;
  padding-left: 10px;
}
.aakavNews .eventCard:hover .read-more-btn > i {
  color: #fe6367;
}
.aakavNews .eventCard .read-more-btn:hover {
  color: #393d72;
}
.aakavNews .eventCard:hover .read-more-btn {
  background-image: linear-gradient(
    90deg,
    rgba(240, 34, 188, 1) 0%,
    rgba(0, 71, 143, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.event-shape .shape1 {
  position: absolute;
  top: 25%;
  left: 3%;
  width: 3%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.event-shape .shape2 {
  position: absolute;
  top: 12%;
  left: 26%;
  width: 3%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.event-shape .shape3 {
  position: absolute;
  top: 80%;
  left: 2%;
  width: 3%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.event-shape .shape4 {
  position: absolute;
  top: 12%;
  left: 78%;
  width: 3%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.event-shape .shape5 {
  position: absolute;
  top: 40%;
  left: 94%;
  width: 3%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.event-shape .shape6 {
  position: absolute;
  top: 82%;
  left: 92%;
  width: 3%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

/*
 End Event Two Section Style
======================================*/

/*
 Plan Section Style Start
=====================================*/
.plan-section {
  position: relative;
}
.plan-section .single-plan {
  background: #f79765;
  text-align: center;
  padding: 40px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.plan-section .col-lg-4:nth-child(2) .single-plan {
  background: #a45a6b !important;
}
.plan-section .col-lg-4:nth-child(3) .single-plan {
  background: #955d95;
}
.plan-section .single-plan .head h3 {
  font-size: 20px;
  font-weight: 400;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.plan-section .single-plan .head h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
}
.plan-section .single-plan .content ul li {
  font-size: 16px;
  font-weight: 500;
  color: #ffff;
  margin-bottom: 15px;
}
.plan-section .single-plan .content ul li:last-child {
  margin-bottom: 0;
}
.plan-section .single-plan .img-shape img {
  position: absolute;
  bottom: 8px;
  left: 258px;
  opacity: 0.5;
  width: 90px;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  z-index: -1;
}
.plan-section .single-plan:hover .img-shape img {
  left: 5px;
  transform: rotateY(170deg);
}
.plan-section .single-plan .card-button .card-btn {
  color: #393d72;
  background-image: url(../img/button-bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  width: 161px;
  height: 38px;
  line-height: 38px;
  margin-top: 22px;
}
.plan-section .single-plan .card-button .card-btn:hover {
  opacity: 0.7;
}
.plan-section .plan-shape-image .shape1 {
  position: absolute;
  left: 30px;
  bottom: 95px;
  width: 5%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.plan-section .plan-shape-image .shape2 {
  position: absolute;
  right: 30px;
  bottom: 95px;
  width: 5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

/*
 End Plan Two Section Style
=====================================*/

/*
 Member Section Style Start
=====================================*/
.member-section {
  background: #f6f6f6;
}
.member-section .single-member {
  background: #f8f8f8;
  border-radius: 5px 5px 0 0;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.member-section .single-member:hover {
  box-shadow: 0px 0px 8px #b4b4b4;
}
.member-section .single-member .image {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}
.member-section .single-member .image img {
  border: 2px solid #dddddd;
  border-radius: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.member-section .single-member:hover .image img {
  border: 2px solid #fe6367;
  border-radius: 100%;
}
.member-section .single-member .text-content {
  text-align: center;
  padding-bottom: 50px;
}
.member-section .single-member .text-content h3 {
  font-size: 20px;
  font-weight: 400;
  color: #393d72;
  margin-bottom: 8px;
}
.member-section .single-member .text-content h5 {
  font-size: 15px;
  font-weight: 700;
  color: #dd006d;
  text-transform: capitalize;
  margin-bottom: 0;
}
.member-section .single-member .social-link ul {
  background: #dd006d;
  text-align: center;
  padding: 15px 0;
}
.member-section .single-member .social-link ul li {
  display: inline-block;
  margin-right: 12px;
}
.member-section .single-member .social-link ul li:last-child {
  margin-right: 0px;
}
.member-section .single-member .social-link ul li a {
  background: #ffffff;
  color: #fe6367;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
  transition: 0.3s;
}
.member-section .single-member .social-link ul li a:hover {
  background: #32004b;
  color: #ffff;
}
.member-section .single-member .social-link ul li a:hover {
  background: #fe6367;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}
.member-section .single-member .social-link ul li a > i {
  line-height: 40px;
}
.member-section .single-member .social-link ul li a > i::before {
  font-size: 16px;
}

/*
 End Member Two Section Style
=====================================*/

/*
 Blog Two Section Style
=====================================*/
.blog2-section {
  background: #f6f6f6;
}
.blog2-section .single-blog {
  background: #ffff;
}
.blog2-section .owl-theme .owl-dots {
  display: none;
}
.blog2-section .col-lg-8:nth-child(2) .single-blog {
  background: #ffff;
}
.blog2-section .col-lg-8:nth-child(3) .single-blog {
  background: #ffff;
}
.single-blog .section-title {
  margin-bottom: 20px;
}
.single-blog .section-title h6 {
  font-size: 18px;
  font-weight: 600;
  color: #dd006d;
  margin-bottom: 10px;
}
.single-blog .section-title h2 {
  font-size: 30px;
  font-weight: 400;
  color: #393d72;
}
.single-blog p {
  color: #686868;
  margin-bottom: 20px;
}
.single-blog .read-more-btn {
  color: #393d72;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-weight: bold;
}
.single-blog:hover .read-more-btn {
  color: #fe6367;
}
.single-blog .read-more-btn > i {
  padding-left: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.single-blog .read-more-btn:hover > i {
  padding-left: 10px;
}
.single-blog .blog-image {
  position: relative;
}
.single-blog .blog-chat-list ul li {
  display: inline-block;
  color: #181111;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #393d72;
}
.single-blog .blog-chat-list ul li:last-child {
  padding-right: 0;
}
.single-blog .blog-chat-list ul li i {
  padding-right: 8px;
  color: #fe6367;
  font-size: 14px;
}
.blog2-section .single-blog .img-caption {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.blog2-section .single-blog .img-caption {
  padding: 30px;
}
.blog2-section .single-blog .img-caption h3 {
  font-size: 20px;
  font-weight: 400;
  color: #393d72;
  margin-top: 18px;
  margin-bottom: 16px;
  max-width: 255px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  text-transform: capitalize;
  line-height: 1.5;
}
.blog2-section .single-blog:hover .img-caption h3 {
  color: #fe6367;
}
.blog2-section .blog-baby-image {
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
}
.blog2-section .blog-baby-image ul li {
  float: left;
  width: 20%;
}
.blog2-section .blog-baby-image ul li img {
  width: 155px;
}
.blog2-section .owl-carousel .owl-nav.disabled {
  display: block;
}
.blog2-section .owl-carousel .owl-nav button.owl-next,
.blog2-section .owl-carousel .owl-nav button.owl-prev {
  font-size: 30px;
  background: rgb(254, 99, 103, 0.6);
  color: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  line-height: 0;
  display: inline-block;
}
.blog2-section .owl-carousel .owl-nav button.owl-next:hover,
.blog2-section .owl-carousel .owl-nav button.owl-prev:hover {
  background: #32004b;
}
.blog2-section .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -85px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.blog2-section .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -85px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.blog2-section .blog-slider-two.owl-carousel .owl-nav button.owl-next,
.blog2-section .blog-slider-two.owl-carousel .owl-nav button.owl-prev {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.blog2-section .blog-slider-two:hover.owl-carousel .owl-nav button.owl-next,
.blog2-section .blog-slider-two:hover.owl-carousel .owl-nav button.owl-prev {
  opacity: 1;
  visibility: visible;
}
/*
 End Blog Two Section Style
=====================================*/

/*
 End Testimonial Section Style
========================================*/
.aakavTestimonial {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #eeeeee;
  background: #00478f;
  background-image: url(../img/testimonials/aakavClass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
.aakavTestimonial:before {
  content: "";
  position: absolute;
  background: rgba(0, 71, 143, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.aakavTestimonial .section-title {
  position: relative;
}
.aakavTestimonial .section-title h6 {
  color: #fff;
}
.aakavTestimonial .section-title h2 {
  color: #ffff;
}
.testimonial-slider {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}
.testimonial-slider .single-testimonial {
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.testimonial-slider .single-testimonial.single-feedback {
  background: #ffffff;
  border-radius: 5px;
  padding-left: 170px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  position: relative;
}
.testimonial-slider .single-testimonial .client-img {
  margin: auto;
  display: table;
  margin-bottom: 30px;
}
.testimonial-slider .single-testimonial .client-img img {
  border-radius: 50%;
  border: 2px solid #44ce6f;
  padding: 3px;
}
.testimonial-slider .client-image-list .item .sl-img img:focus {
  border: 0;
  outline: 0;
}
.item.slick-slide.slick-active:focus {
  border: 0;
  outline: 0;
}
.testimonial-slider .single-testimonial h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  margin-top: 25px;
}
.testimonial-slider .single-testimonial span {
  display: block;
  margin-top: 8px;
  margin-bottom: 18px;
  color: #fe6367;
}
.testimonial-slider .single-testimonial p {
  font-size: 15px;
  color: #ffff;
}
.testimonial-slider .single-testimonial p > i {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fe6367;
}
.testimonial-slider .single-testimonial span {
  display: block;
  margin-top: 8px;
  margin-bottom: 18px;
  color: #fe6367;
}
.testimonial-slider .client-image-list .item .sl-img {
  cursor: pointer;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #44ce6f;
}
.testimonial-slider .client-image-list .item .sl-img img {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  border-radius: 50%;
  padding: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-slider .client-image-list .item:hover .sl-img img,
.testimonial-slider .client-image-list .item.slick-center .sl-img img {
  opacity: 1;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.aakavTestimonial .testimonial-shape .shape1 {
  position: absolute;
  top: 5%;
  left: 6%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape2 {
  position: absolute;
  top: 26%;
  left: 3%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape3 {
  position: absolute;
  top: 13%;
  left: 17%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape4 {
  position: absolute;
  top: 40%;
  left: 12%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape5 {
  position: absolute;
  top: 30%;
  left: 82%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape6 {
  position: absolute;
  top: 82%;
  left: 80%;
  width: 2%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape7 {
  position: absolute;
  top: 54%;
  left: 90%;
  width: 2%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape8 {
  position: absolute;
  top: 10%;
  left: 72%;
  width: 3%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.aakavTestimonial .testimonial-shape .shape9 {
  position: absolute;
  top: 72%;
  left: 6%;
  width: 3%;
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
